:root {
  --header-hight: 3.5rem;
  --first-color: hsl(228, 66%, 53%);
  --first-color-alt: hsl(228, 66%, 47%);
  --first-color-light: hsl(228, 62%, 59%);
  --first-color-lighten: hsl(228, 100%, 97%);
  --second-color: hsl(25, 83%, 53%);
  --title-color: hsl(228, 57%, 28%);
  --text-color: hsl(228, 15%, 50%);
  --text-color-light: hsl(228, 12%, 75%);
  --border-color: hsl(228, 99%, 98%);
  --body-color: #fff;
  --container-color: #fff;
  --biggest-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.9rem;
  --small-font-size: 0.8rem;
  --smaller-font-size: 0.7rem;
  --font-medium: 500;
  --font-semi-bold: 600;
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 1024px) {
  :root {
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.8rem;
    --smaller-font-size: 0.8rem;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: var(--normal-font-size);
  background: var(--body-color);
  color: var(--text-color);
  transition: 0.3s;
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

input,
button {
  outline: none;
  border: none;
}

.container {
  max-width: 1024px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
}

.section {
  padding: 4.5rem 0 2rem;
}

.section-title {
  font-size: var(--h2-font-size);
  margin-bottom: 1rem;
}
.section-title .span {
  color: var(--second-color);
}

.section-subtitle {
  display: block;
  font-size: var(--small-font-size);
  color: var(--second-color);
}

.main {
  overflow: hidden;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: var(--z-fixed);
  transition: 0.4s;
}

.nav {
  height: var(--header-hight);
  display: flex;
  justify-content: center;
  column-gap: 60px;
  align-items: center;
  font-size: 1.5rem;
}
.nav-logo {
  color: #fff;
  display: inline-flex;
  align-items: center;
  -moz-column-gap: 0.25rem;
  column-gap: 0.25rem;
  font-weight: var(--font-medium);
  transition: 0.3s;
}
.nav-logo:hover {
  color: var(--first-color);
}
.nav-logo i {
  font-size: 1rem;
}

@media screen and (max-width: 1023px) {
  .nav-menu {
    position: fixed;
    bottom: 2rem;
    background-color: var(--container-color);
    box-shadow: 0 8px 24px hsla(228, 66%, 45%, 0.15);
    width: 90%;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 1.3rem 3rem;
    border-radius: 1.25rem;
    transition: 0.4s;
  }
  .nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-link {
    color: var(--text-color);
    display: flex;
    padding: 0.5rem;
    border-radius: 50%;
  }
  .nav-link i {
    font-size: 1.25rem;
  }
  .nav-link span {
    display: none;
  }

  /* POPULARRRRRR */

  .popular-container {
    padding: 1rem 0 5rem;
  }
  .popular-container .popular-card {
    width: 290px;
    background-color: var(--container-color);
    padding: 0.5rem 0.5rem 1.5rem;
    border-radius: 1rem;
    margin: 0 auto;
    transition: 0.4s;
  }
  .popular-container .popular-card:hover {
    box-shadow: 0 12px 16px hsla(228, 66%, 45%, 0.1);
  }

  .popular-container .popular-card .popular-img {
    border-radius: 1rem;
    margin-bottom: 1rem;
    height: 290px;
    width: 290px;
  }
}

/* CHANGE BACKGROUND HEADERRRRRRR */

.scroll-header {
  background-color: var(--body-color);
  box-shadow: 0 1px 4px hsla(228, 4%, 15%, 0.1);
}
/* .scroll-header .change-theme {
    color: var(--title-color);
  } */
.scroll-header .nav-logo {
  color: var(--first-color);
}

/* ACTIVE LINKKKKKKKKKKK */

.active-link {
  background: hsl(228, 66%, 47%);
  color: white !important;
  box-shadow: 0px 4px 8px hsla(228, 66%, 45%, 0.25);
}

/* homeeeeeeee */

.home {
  background: linear-gradient(170deg, hsl(0, 0%, 22%) 0%, hsl(0, 0%, 6%) 30%);
  padding-bottom: 150px;
}
.home-container {
  padding-top: 4rem;
  row-gap: 3.5rem;
}
.home-title,
.home-value-number {
  color: #fff;
}
.home-title {
  font-size: var(--biggest-font-size);
  line-height: 120%;
  margin-bottom: 1.25rem;
}
.home-description {
  color: var(--text-color-light);
  margin-bottom: 2rem;
}
.home-search {
  background-color: var(--body-color);
  padding: 0.3rem 0.3rem 0.3rem 0.7rem;
  display: flex;
  align-items: center;
  border-radius: 0.7rem;
  border: 3px solid var(--text-color-light);
  margin-bottom: 2rem;
}
.home-search i {
  font-size: 1.25rem;
  color: var(--first-color);
}

.home-search-input {
  width: 90%;
  background-color: var(--body-color);
  color: var(--text-color);
  margin: 0 0.5rem;
}

.home-search-input::placeholder {
  color: var(--text-color-light);
}

.home-value {
  display: flex;
  column-gap: 2.5rem;
}
.home-value-number {
  font-size: var(--h1-font-size);
  font-weight: var(--font-medium);
}
.home-value-number span {
  color: var(--second-color);
}
.home-value-description {
  display: flex;
  color: var(--text-color-light);
  font-size: var(--smaller-font-size);
}
.home-images {
  position: relative;
  display: flex;
  justify-content: center;
}
.home-orbe {
  width: 250px;
  height: 110px;
  background: linear-gradient(
    180deg,
    hsl(0, 0%, 15%) 93%,
    hsl(0, 0%, 67%) 100%
  );
  border-radius: 135px 135px 0 0;
}
popular .home-img {
  position: absolute;
}
.home-img img {
  border-radius: 125px 125px 12px 12px;
  width: 250px;
  height: 300px;
  overflow: hidden;
  display: inline-flex;
  align-items: flex-end;
  bottom: -1.5rem;
  box-shadow: 0 16px 32px hsla(228, 66%, 25%, 0.25);
}
.home-jpg {
  margin-top: 6rem;
  width: 400px !important;
  height: 450px !important;
  border-radius: 200px 200px 12px 12px !important;
}

/* BUTTONNNNNNNNNNNN */

.button {
  display: inline-block;
  background: linear-gradient(101deg, hsl(228, 66%, 53%), hsl(228, 66%, 46%));
  color: #fff;
  padding: 14px 28px;
  border-radius: 0.5rem;
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  box-shadow: 0 4px 8px hsla(228, 66%, 45%, 0.25);
  transition: 0.3s;
  cursor: pointer;
}
.button:hover {
  box-shadow: 0 4px 12px hsla(228, 66%, 45%, 0.25);
}

.nav-button {
  display: none;
}

/* LOGOSSSSSSSSSSSSSSSSSSSS */

.logos-container {
  padding-top: 2rem;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem 2rem;
  justify-items: center;
}

.logos-img img {
  height: 90px;
  opacity: 0.2;
  transition: 0.3s;
}
.logos-img img:hover {
  opacity: 1;
}

/* POPULARRRRRRRRRRRRRRRRRRRRRRRRRR */

/* SWIPERRRR   CLASSSSSS */

/* popularrrrr */

.popular-container .popular-card .popular-data {
  padding: 0 1rem 0 0.5rem;
}
.popular-container .popular-card .popular-data .popular-title {
  font-size: var(--h3-font-size);
  margin-bottom: 0.7rem;
}
.popular-container .popular-card .popular-data .popular-price {
  font-size: var(--h2-font-size);
  color: var(--text-color);
  margin-bottom: 0.25rem;
}
.popular-container .popular-card .popular-data .popular-price span {
  color: var(--second-color);
}
.popular-container .popular-card .popular-data .popular-description {
  font-size: var(--small-font-size);
  margin-bottom: 10rem;
}
.popular-container .swiper-button-next:after,
.popular-container .swiper-button-prev:after {
  content: "";
}
.popular-container .bx {
  border: 2px solid var(--text-color-light);
  background-color: var(--container-color);
  padding: 6px;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  margin-top: 25rem;
}
.popular-container .swiper-button-next {
  right: calc(50% - 3rem);
}
.popular-container .swiper-button-prev {
  left: calc(50% - 3rem);
}

.value-container {
  row-gap: 3rem;
}
.value-container .value-images {
  position: relative;
  display: flex;
  justify-content: center;
}
.value-container .value-images .value-orbe {
  width: 266px;
  height: 316px;
  background-color: hsl(228, 24%, 97%);
  border-radius: 135px 135px 16px 16px;
}
.value-container .value-images .value-img {
  position: absolute;
  width: 250px;
  height: 300px;
  overflow: hidden;
  border-radius: 125px 125px 12px 12px;
  inset: 0;
  margin: auto;
  box-shadow: 0 16px 32px hsla(228, 66%, 25%, 0.2);
}
.value-container .value-description {
  font-size: var(--small-font-size);
  margin-bottom: 2rem;
}
.value-container .value-accordion {
  display: grid;
  row-gap: 1.5rem;
}
.value-container .value-accordion .value-accordion-item {
  background-color: var(--body-color);
  border: 2px solid var(--border-color);
  border-radius: 0.5rem;
  padding: 1rem 0.7rem;
}
.value-container
  .value-accordion
  .value-accordion-item
  .value-accordion-header {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.value-container
  .value-accordion
  .value-accordion-item
  .value-accordion-header
  .bxs-shield-x {
  background-color: var(--first-color-lighten);
  padding: 5px;
  border-radius: 0.25rem;
  font-size: 18px;
  color: var(--first-color);
  margin-right: 0.7rem;
  transition: 0.3s;
}
.value-container
  .value-accordion
  .value-accordion-item
  .value-accordion-header
  .value-accordion-title {
  font-size: var(--small-font-size);
}
.value-container
  .value-accordion
  .value-accordion-item
  .value-accordion-header
  .value-accordion-arrow {
  display: inline-flex;
  background-color: var(--first-color-lighten);
  padding: 0.25rem;
  color: var(--first-color);
  border-radius: 2px;
  font-size: 10px;
  margin-left: auto;
  transition: 0.3s;
}
.value-container
  .value-accordion
  .value-accordion-item
  .value-accordion-header
  .value-accordion-arrow
  .i {
  transition: 0.4s;
}
.value-container
  .value-accordion
  .value-accordion-item
  .value-accordion-content {
  overflow: hidden;
  height: 0;
  transition: all 0.25s ease;
}
.value-container
  .value-accordion
  .value-accordion-item
  .value-accordion-content
  .value-accordion-description {
  font-size: var(--smaller-font-size);
  padding: 1.25rem 2.5rem 0 2.7rem;
}

.accordion-open {
  box-shadow: 0 12px 32px hsla(228, 66%, 45%, 0.1);
}
.accordion-open .value-accordion-icon {
  box-shadow: 0 12px 32px hsla(228, 66%, 45%, 0.1);
}
.accordion-open .value-accordion-arrow {
  box-shadow: 0 12px 32px hsla(228, 66%, 45%, 0.1);
}
.accordion-open .value-accordion-arrow i {
  transform: rotate(-180deg);
  transition: all 0.4s ease;
}

.contact-container {
  row-gap: 2rem;
}
.contact-container .contact-images {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.contact-container .contact-images .contact-orbe {
  width: 310px;
  height: 220px;
  background-color: hsl(228, 24%, 97%);
  -o-object-fit: fill;
  object-fit: fill;
  border-radius: 135px 135px 16px 16px;
}
.contact-container .contact-images .contact-img {
  position: absolute;
  width: 300px;
  height: 200px;
  overflow: hidden;
  border-radius: 125px 125px 12px 12px;
  inset: 0;
  margin: auto;
  box-shadow: 0 16px 32px hsla(228, 66%, 45%, 0.25);
}
.contact-container .contact-images .contact-img img {
  width: 300px;
}
.contact-container .contact-description {
  font-size: var(--small-font-size);
  margin-bottom: 2.5rem;
}
.contact-container .contact-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.25rem 0.7rem;
}
.contact-container .contact-card i {
  padding: 6px;
  background-color: var(--first-color-lighten);
  border-radius: 6px;
  font-size: 1.2rem;
  color: var(--first-color);
}
.contact-container .contact-card .contact-card-box {
  background-color: var(--body-color);
  border: 2px solid var(--border-color);
  padding: 1.2rem 0.7rem;
  border-radius: 0.5rem;
  transition: 0.3s;
}
.contact-container .contact-card .contact-card-box:hover {
  box-shadow: 0 8px 25px hsla(228, 66%, 45%, 0.1);
}
.contact-container .contact-card .contact-card-box .contact-card-title {
  font-size: var(--normal-font-size);
}
.contact-container .contact-card .contact-card-box .contact-card-description {
  font-size: var(--smaller-font-size);
}
.contact-container .contact-card .contact-card-box .cantact-card-button {
  font-size: var(--small-font-size);
  padding: 15px 0;
  width: 100%;
  border-radius: 0.2rem;
  background: var(--first-color-lighten);
  color: var(--first-color);
  font-weight: var(--font-semi-bold);
  box-shadow: none;
}
.contact-container .contact-card .contact-card-box .cantact-card-button:hover {
  background-color: var(--first-color);
  color: #fff;
}

.subscribe {
  padding: 2.5rem 0;
}
.subscribe .subscribe-container {
  background-color: var(--first-color);
  padding: 3rem 2rem;
  border-radius: 1.2rem;
  border: 6px solid var(--first-color-light);
  text-align: center;
}
.subscribe .subscribe-container .subscribe-title {
  font-size: var(--h2-font-size);
  color: #fff;
  margin-bottom: 1rem;
}
.subscribe .subscribe-container .subscribe-description {
  color: hsl(228, 90%, 92%);
  font-size: var(--small-font-size);
  margin-bottom: 2rem;
}
.subscribe .subscribe-container .subscribe-button {
  border: 2px solid #fff;
  background: var(--first-color-light);
  font-size: var(--small-font-size);
}
.subscribe .subscribe-container .subscribe-button:hover {
  background-color: var(--first-color);
}

.footer-container {
  row-gap: 2.5rem;
  margin-bottom: 10rem;
}
.footer-container .footer-logo {
  color: var(--first-color);
  font-size: var(--h3-font-size);
  font-weight: var(--font-semi-bold);
  display: inline-flex;
  align-items: center;
  -moz-column-gap: 0.2rem;
  column-gap: 0.2rem;
  margin-bottom: 0.7rem;
}
.footer-container .footer-logo i {
  font-size: 1.2rem;
}
.footer-container .footer-description,
.footer-container .footer-link {
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
}
.footer-container .footer-content,
.footer-container .footer-links {
  display: grid;
}
.footer-container .footer-content {
  grid-template-columns: repeat(2, max-content);
  gap: 2.5rem 4rem;
}
.footer-container .footer-title {
  font-size: var(--h3-font-size);
  margin-bottom: 1rem;
}
.footer-container .footer-links {
  row-gap: 0.5rem;
}
.footer-container .footer-link {
  color: var(--text-color);
  transition: 0.3s;
}
.footer-container .footer-link:hover {
  color: var(--title-color);
}
.footer-container .footer-social {
  display: flex;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
}
.footer-container .footer-social-link {
  font-size: 1.2rem;
  color: var(--text-color);
  transition: 0.3s;
}
.footer-container .footer-social-link:hover {
  color: var(--title-color);
}

::-webkit-scrollbar {
  width: 0.6rem;
  border-radius: 0.5rem;
  background-color: hsl(228, 8%, 76%);
}

::-webkit-scrollbar-thumb {
  background-color: hsl(228, 8%, 76%);
  border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb:hover {
  background-color: hsl(228, 8%, 54%);
}

.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -30%;
  background-color: var(--container-color);
  box-shadow: 0px 8px 12px hsla(228, 66%, 45%, 0.1);
  display: inline-flex;
  padding: 0.3rem;
  border-radius: 0.2rem;
  color: var(--title-color);
  font-size: 1.2rem;
  z-index: var(--z-tooltip);
  transition: 0.3s;
}
.scrollup:hover {
  transform: translateY(-0.2rem);
  color: var(--first-color);
}

.showup {
  bottom: 8rem;
}

body.dark-theme {
  --header-hight: 3.5rem;
  --first-color: hsl(228, 66%, 62%);
  --second-color: hsl(25, 57%, 53%);
  --title-color: hsl(228, 8%, 95%);
  --text-color: hsl(228, 8%, 70%);
  --border-color: hsl(228, 16%, 14%);
  --body-color: hsl(228, 12%, 8%);
  --container-color: hsl(228, 16%, 12%);
}
body.dark-theme .home-search {
  border: 3px solid var(--border-color) !important;
}
body.dark-theme .value-orbe {
  background-color: var(--container-color) !important;
}
body.dark-theme .value-accordion-header i {
  background-color: var(--container-color) !important;
}
body.dark-theme .value-accordion-arrow,
body.dark-theme .contact-orbe,
body.dark-theme .contact-card i,
body.dark-theme .cantact-card-button,
body.dark-theme .subscribe-container {
  background-color: var(--container-color) !important;
}
body.dark-theme .subscribe-container {
  border: 6px solid var(--border-color);
}
body.dark-theme .subscribe-description {
  color: var(--text-color) !important;
}

@media screen and (max-width: 350px) {
  .container {
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }
  .section {
    padding: 3.5rem 0 1rem !important;
  }
  .home {
    padding-bottom: 0 !important;
  }
  .contact-card {
    grid-template-columns: repeat(1, 180px) !important;
    justify-content: center !important;
  }
}
@media screen and (max-width: 320px) {
  .nav-menu {
    padding: 1.3rem 1.5rem !important;
  }
  .home-value {
    -moz-column-gap: 1rem !important;
    column-gap: 1rem !important;
  }
  .home-img {
    width: 220px !important;
    height: 280px !important;
  }
  .home-orbe {
    width: 240px !important;
    height: 264px !important;
  }
  .logos-container {
    gap: 2rem 1rem !important;
  }

  .value-img,
  .contact-img {
    width: 220px !important;
    height: 260px !important;
  }
  .value-orbe,
  .contact-orbe {
    width: 236px !important;
    height: 280px !important;
  }
  .subscribe-container {
    padding: 2rem 1rem !important;
  }
  .footer-content {
    gap: 2.5rem !important;
  }
}
@media screen and (min-width: 576px) {
  .nav-menu {
    width: 342px !important;
  }
  .home-search {
    width: 412px !important;
  }
  .contact-card {
    grid-template-columns: repeat(2, 192px) !important;
    justify-content: center !important;
  }
  .footer-content {
    grid-template-columns: repeat(3, max-content) !important;
  }
}
@media screen and (min-width: 767px) {
  .home-container {
    grid-template-columns: repeat(2, 1fr) !important;
    padding-top: 2rem !important;
  }

  .popular-card {
    width: 220px;
    padding: 0.5rem 0.5rem 0.7rem;
  }

  .home-orbe {
    align-self: flex-end !important;
  }
  .home-data {
    padding-bottom: 2rem !important;
  }
  .logos-container {
    grid-template-columns: repeat(4, max-content);
    justify-content: center;
  }
  .value-container,
  .contact-container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  .contact-images {
    order: 1;
  }

  .contact-card {
    justify-content: initial;
  }
  .subscribe-container {
    padding: 3rem 13rem;
  }
  .footer-container {
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
  }
}

@media screen and (max-width: 480px) {
  .popular-card {
    width: 350px;
    padding: 0.5rem 0.5rem 0.7rem;
  }

  .popular-container .popular-card .popular-img {
    border-radius: 1rem;
    margin-bottom: 1rem;
    height: 290px;
    width: 400px;
  }
}

@media screen and (min-width: 1025px) {
  .section {
    margin-left: 10rem;
  }
  .section-title {
    font-size: 2.2rem;
  }

  .section-subtitle {
    font-size: var(--normal-font-size);
  }

  .nav {
    height: calc(var(--header-hight)+ 1.5rem) !important;
  }

  .nav-menu {
    width: initial !important;
    margin-left: auto !important;
  }

  .nav-list {
    display: flex !important;
    column-gap: 3rem !important;
  }

  .nav-link {
    color: var(--text-color-light) !important;
  }
  .nav-link i {
    display: none !important;
  }

  .nav-button {
    display: inline-block !important;
  }

  .active-link {
    background: none !important;
    box-shadow: none !important;
    color: var(--first-color) !important;
    font-weight: var(--font-medium) !important;
  }

  .change-theme {
    max-resolution: 0 3rem;
    color: var(--text-color-light) !important;
  }

  .scroll-header.nav-link,
  .scroll-header .change-theme {
    color: var(--text-color) !important;
  }

  .scroll-header .active-link {
    color: var(--first-color) !important;
  }

  /* popularrrrrr */
  .popular-container {
    padding: 1rem 0 5rem;
  }
  .popular-container .popular-card {
    width: 700px;
    background-color: var(--container-color);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    margin: 0 auto;
    transition: 0.4s;
  }
  .popular-container .popular-card:hover {
    box-shadow: 0 12px 16px hsla(228, 66%, 45%, 0.1);
  }

  .popular-container .popular-card .popular-img {
    border-radius: 1rem;
    margin-bottom: 1rem;
    height: 290px;
    width: 400px;
  }

  /* POPULARRRRRR */

  .popular-container {
    padding: 1rem 0 5rem;
  }
  .popular-container .popular-card {
    width: 290px;
    background-color: var(--container-color);
    padding: 0.5rem 0.5rem 1.5rem;
    border-radius: 1rem;
    margin: 0 auto;
    transition: 0.4s;
  }
  .popular-container .popular-card:hover {
    box-shadow: 0 12px 16px hsla(228, 66%, 45%, 0.1);
  }

  .popular-container .popular-card .popular-img {
    border-radius: 1rem;
    margin-bottom: 1rem;
    height: 290px;
    width: 290px;
  }
}
